#ul_canvas {
    display: flex;
    justify-content:center;
    list-style-type:none;
    padding: 0 20px;
    margin: 0 auto;
    list-style: none;
    text-align:center;
}

.circle {
   
    border-radius: 80px; 
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 6px;
    cursor: pointer;
   }

   #container {
	position: relative;
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:960px;
	width:960px;
	padding: 0;
	border: none;
}

.grid {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
    background-color: aliceblue;
}


body{
    align-items:center;
}